button {
    background-color: #C84630;
    border: rgba(0,0,0,0);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    width: 80%;
    height: 45%;
    font-weight: 600;
}

button:hover {
    background-color: #783D33;
    cursor: pointer;
}