.item_container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.item_container:not(:last-child){
    border-bottom: solid 1px #C84630;
}

.item_container .details .name{
    font-size: large;
    font-weight: 700;
}

.item_container .details .description{
    font-size: small;
    font-weight: 500;
}

.item_container .details .price{
    color: #C84630;
    font-weight: 700;
}

.item_container .controls{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item_container .controls .amount_control{
    display: flex;
    align-items: center;
    justify-content: space-between;
}